---
import { Image } from 'astro:assets';

import { YouTube } from 'astro-embed';

import { formatDateToThai } from '../lib/formatDate';

const { post } = Astro.props;

import '../styles/movie.scss';

import AdsenseMovie from '../components/AdsenseMovie.astro';
---
<main>
    <div class="movie-detail-container">
        <div class="movie-detail">
            <div class="movie-link-wrap"><a class="movie-link" href="/movie">ดูหนัง</a></div>
            <h1 class="movie-name">{post.title}</h1>
            <dl class="movie-info">
                <dt>ผู้กำกับ</dt>
                <dd>{post.movie.director}</dd>
                <dt>นักแสดงนำ</dt>
                <dd>{post.movie.actors}</dd>
                <dt>วันที่ฉาย</dt>
                <dd>{formatDateToThai(post.movie.releaseDate)}</dd>                
            </dl>
        </div>
        <div class="movie-poster">
            <Image
                class="rounded-lg"
                src={post.featuredImageMedium.node.sourceUrl}
                alt={`ดูหนัง ${post.title} เต็มเรื่อง กำกับโดย ${post.movie.director}`}
                width="300"
                height="429"
                sizes="(max-width: 300px) 100vw, 300px"
                loading="eager"
            />
        </div>
        {post.movie.synopsis && (
            <div class="movie-synopsis">
                <h2 class="title">เรื่องย่อ</h2>
                <div class="font-light" set:html={post.movie.synopsis}></div>
            </div>
        )}
    </div>
    <AdsenseMovie />
    <div class="entry-content" set:html={post.content.replace('<a href="https://assets.onlygroub', '<a href="https://onlygroub')}></div>
    {
        post.movie.youtubeId && (    
            <div class="trailer">
                <h2 class="title">ตัวอย่าง</h2>
                <YouTube id={`https://youtu.be/${post.movie.youtubeId}`} />
            </div>
        )
    }
    <div class="text-center mb-4">
        แก้ไขเมื่อ <time datetime={post.date}>{formatDateToThai(post.date)}</time>
    </div>
    <div class="breadcrumb">
        <ol class="flex justify-center gap-2 line-clamp-1">
            <li><a href="/">หน้าหลัก</a></li>
            <li><a href=`/category/${post.terms.nodes[0].slug}` rel="category tag">{post.terms.nodes[0].name}</a></li>
            <li><span>{post.title}</span></li>
        </ol>
    </div>
</main>