---
import Layout from "../layouts/Layout.astro";
import Page from "../templates/Page.astro";

import { GraphQLClient } from 'graphql-request';

const page_id = '66';

const client = new GraphQLClient('https://assets.onlygroub.com/graphql');

const query = `
        query GetPageById($id: ID!) {
            page(id: $id, idType: DATABASE_ID) {
                id
                title
                content
                slug
                date
                seo {
                    title
                    metaDesc
                }
            }
        }
`;

const variables = { id: page_id };

const data : any = await client.request(query, variables);

const structuredData : any = `
{
    "@context": "https://schema.org/",
    "@type": "Article",
    "headline": "${data.title}",
    "image": {
        "@type": "ImageObject",
        "url": "${data.featuredImageFull.node.sourceUrl}",
        "width": "${data.featuredImageFull.node.mediaDetails.width}",
        "height": "${data.featuredImageFull.node.mediaDetails.height}"
    },
    "author": {
        "@type": "Person",
        "name": "ONLYGROUB",
        "url": "https://onlygroub.com"
    },
    "publisher": {
        "@type": "Organization",
        "name": "ONLYGROUB",
        "logo": {
        "@type": "ImageObject",
        "url": "https://onlygroub.com/logo.png",
        "width": "342",
        "height": "106"
        }
    },
    "datePublished": "${data.date}+07:00",
    "dateModified": "${data.modified}+07:00"
}
`;
---
<Layout title={data.page.seo.title} seo={data.page.seo} structuredData={structuredData}>
    <Page>
        <div class="page">
            <h1 class="page-title">{data.page.title}</h1>
            <div class="page-content" set:html={data.page.content}></div>
        </div>
    </Page>
</Layout>