---
import { Image } from 'astro:assets';
import fs from 'fs/promises';
import path from 'path';

const { title , excerpt , date, dateFormatted, imageUrl, imageAlt, url , sizes , srcset  } = Astro.props;
---

<div class="card">
    <a href={`https://movie.onlygroub.com/movie/${url}`}>
        <div class="card-thumbnail">
            
            <Image
                srcset={srcset}
                sizes={sizes}
                src={imageUrl}
                alt={imageAlt}
                width="300"
                height="429"
                loading="lazy"
            />
            
        </div>

        <div class="card-content">
            <h3 class="card-title">{title}</h3>
        </div>
    </a>
</div>